Project1/bin/Debug/net8.0/Project1.deps.json
Project1/bin/Debug/net8.0/Project1.dll
Project1/bin/Debug/net8.0/Project1.exe
Project1/bin/Debug/net8.0/Project1.pdb
Project1/bin/Debug/net8.0/Project1.runtimeconfig.json
Project1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Project1/obj/Debug/net8.0/apphost.exe
Project1/obj/Debug/net8.0/Project1.AssemblyInfo.cs
Project1/obj/Debug/net8.0/Project1.AssemblyInfoInputs.cache
Project1/obj/Debug/net8.0/Project1.assets.cache
Project1/obj/Debug/net8.0/Project1.csproj.CoreCompileInputs.cache
Project1/obj/Debug/net8.0/Project1.csproj.FileListAbsolute.txt
Project1/obj/Debug/net8.0/Project1.dll
Project1/obj/Debug/net8.0/Project1.GeneratedMSBuildEditorConfig.editorconfig
Project1/obj/Debug/net8.0/Project1.genruntimeconfig.cache
Project1/obj/Debug/net8.0/Project1.GlobalUsings.g.cs
Project1/obj/Debug/net8.0/Project1.pdb
Project1/obj/Debug/net8.0/Project1.sourcelink.json
Project1/obj/Debug/net8.0/ref/Project1.dll
Project1/obj/Debug/net8.0/refint/Project1.dll
Project1/obj/project.assets.json
Project1/obj/project.nuget.cache
Project1/obj/Project1.csproj.nuget.dgspec.json
Project1/obj/Project1.csproj.nuget.g.props
Project1/obj/Project1.csproj.nuget.g.targets
