Project1/bin/Debug/net8.0/Project1.deps.json
Project1/bin/Debug/net8.0/Project1.dll
Project1/bin/Debug/net8.0/Project1.exe
Project1/bin/Debug/net8.0/Project1.pdb
Project1/bin/Debug/net8.0/Project1.runtimeconfig.json
Project1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Project1/obj/Debug/net8.0/apphost.exe
Project1/obj/Debug/net8.0/Project1.AssemblyInfo.cs
Project1/obj/Debug/net8.0/Project1.AssemblyInfoInputs.cache
Project1/obj/Debug/net8.0/Project1.assets.cache
Project1/obj/Debug/net8.0/Project1.csproj.CoreCompileInputs.cache
Project1/obj/Debug/net8.0/Project1.csproj.FileListAbsolute.txt
Project1/obj/Debug/net8.0/Project1.dll
Project1/obj/Debug/net8.0/Project1.GeneratedMSBuildEditorConfig.editorconfig
Project1/obj/Debug/net8.0/Project1.genruntimeconfig.cache
Project1/obj/Debug/net8.0/Project1.GlobalUsings.g.cs
Project1/obj/Debug/net8.0/Project1.pdb
Project1/obj/Debug/net8.0/Project1.sourcelink.json
Project1/obj/Debug/net8.0/ref/Project1.dll
Project1/obj/Debug/net8.0/refint/Project1.dll
Project1/obj/project.assets.json
Project1/obj/project.nuget.cache
Lucistnik/obj/Lucistnik.csproj.nuget.dgspec.json
Lucistnik/obj/Lucistnik.csproj.nuget.g.props
Lucistnik/obj/Lucistnik.csproj.nuget.g.targets
Lucistnik/bin/Debug/net8.0/Lucistnik.deps.json
Lucistnik/bin/Debug/net8.0/Lucistnik.dll
Lucistnik/bin/Debug/net8.0/Lucistnik.exe
Lucistnik/bin/Debug/net8.0/Lucistnik.pdb
Lucistnik/bin/Debug/net8.0/Lucistnik.runtimeconfig.json
Lucistnik/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Lucistnik/obj/Debug/net8.0/apphost.exe
Lucistnik/obj/Debug/net8.0/Lucistnik.AssemblyInfo.cs
Lucistnik/obj/Debug/net8.0/Lucistnik.AssemblyInfoInputs.cache
Lucistnik/obj/Debug/net8.0/Lucistnik.assets.cache
Lucistnik/obj/Debug/net8.0/Lucistnik.csproj.CoreCompileInputs.cache
Lucistnik/obj/Debug/net8.0/Lucistnik.csproj.FileListAbsolute.txt
Lucistnik/obj/Debug/net8.0/Lucistnik.dll
Lucistnik/obj/Debug/net8.0/Lucistnik.GeneratedMSBuildEditorConfig.editorconfig
Lucistnik/obj/Debug/net8.0/Lucistnik.genruntimeconfig.cache
Lucistnik/obj/Debug/net8.0/Lucistnik.GlobalUsings.g.cs
Lucistnik/obj/Debug/net8.0/Lucistnik.pdb
Lucistnik/obj/Debug/net8.0/Lucistnik.sourcelink.json
Lucistnik/obj/Debug/net8.0/ref/Lucistnik.dll
Lucistnik/obj/Debug/net8.0/refint/Lucistnik.dll
Lucistnik/obj/project.assets.json
Lucistnik/obj/project.nuget.cache
Lucistnik/obj/Lucistnik.csproj.nuget.dgspec.json
Lucistnik/obj/Lucistnik.csproj.nuget.g.props
Lucistnik/obj/Lucistnik.csproj.nuget.g.targets